<div class="page-title">
      <h3 class="breadcrumb-header"> Roles </h3>
   </div>
   <div id="main-wrapper">
      <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <div class="row">
         <div class="col-md-12">
            <div class="panel panel-white">
               <div class="panel-heading clearfix">
                  <h4 class="panel-title">         <span *ngIf="role._id == null">Nuevo rol</span>
                     <span *ngIf="role._id != null">Editar rol</span>    
                  </h4>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !name.valid}">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="role.name" name="name" #name="ngModel"
                        required>
                        <span class="help-block" *ngIf="f.submitted && !name.valid">El nombre es requerido.</span>
                     </div>
                     <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid}">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" rows="3" placeholder="" id="description" [(ngModel)]="role.description"
                        name="description" #description="ngModel" required></textarea>
                        <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerida.</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="panel panel-white">
               <div class="panel-heading clearfix">
                  <h4 class="panel-title"> Permisos</h4>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-md-12">
                        <input type="text"class="form-control" #search placeholder="Buscar permiso" />
                     </div>
                  </div>
                  
               <label>
                <input  class="form-check-input"
                  type="checkbox"
                  id="permission-all"
                  (change)="selectAll($event)">Todos los permisos
               </label>
              
                  <div class="row">
                       
                     <div class="col-md-4" *ngFor="let item of permissions | searchfilter: 'description' : search.value; let i = index;">
                        <label class="checkbox-inline">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        id="permission-{{item.description}}"
                        name="tagOptions"
                        (change)="changeCheckbox($event, i)"
                        [checked]="item.checked">
                        {{item.description}}
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
         </div>
      </div>
      </form>
   </div>