<div class="page-title">
      <h3 class="breadcrumb-header"> Tipos de encuestas </h3>
  </div>
<div id="main-wrapper">

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title">         <span *ngIf="surveyType._id == null">Nuevo tipo de encuesta</span>
               <span *ngIf="surveyType._id != null">Editar tipo de encuesta</span>    </h4>
          </div>
          <div class="panel-body">
              <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                 <div class="row">
                           <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !title.valid}">
                              <label for="title" class="control-label">Título</label>
                              <input type="text" class="form-control" placeholder="" name="title" #title="ngModel" [(ngModel)]="surveyType.title" required>
                              <span class="help-block" *ngIf="f.submitted && !title.valid">El título es requerido.</span>
                           </div>
                           <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !modifiable.valid}">
                                <label for="modifiable" class="control-label">Modificable</label>
                                <input type="text" class="form-control" placeholder="" name="modifiable" #modifiable="ngModel" [(ngModel)]="surveyType.modifiable" required>
                                <span class="help-block" *ngIf="f.submitted && !modifiable.valid">El campo modificable es requerido.</span>
                             </div>
                             <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !multiple.valid}">
                                    <label for="multiple" class="control-label">Múltiple</label>
                                    <input type="text" class="form-control" placeholder="" name="multiple" #multiple="ngModel" [(ngModel)]="surveyType.multiple" required>
                                    <span class="help-block" *ngIf="f.submitted && !multiple.valid">El campo múltiple es requerido.</span>
                            </div>                           
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !field.valid}">
                                    <label for="field" class="control-label">Campo</label>
                                    <input type="text" class="form-control" placeholder="" name="field" #field="ngModel" [(ngModel)]="surveyType.field" required>
                                    <span class="help-block" *ngIf="f.submitted && !field.valid">El campo es requerido.</span>                                    
                            </div>
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !answer.valid}">
                                <label for="answer" class="control-label">Respuesta</label>
                                <input type="text" class="form-control" placeholder="" name="answer" #answer="ngModel" [(ngModel)]="surveyType.answer" required>
                                <span class="help-block" *ngIf="f.submitted && !answer.valid">La respuesta es requerido.</span>
                            </div>
                           <div class="form-group col-md-12">
                              <button type="submit" class="btn btn-primary float-right">Guardar</button>
                           </div>
                 </div>                
                </form>
          </div>
      </div>
  </div>
</div>
</div>