
<div class="page-title">
      <h3 class="breadcrumb-header"> Usuarios </h3>
  </div>
<div id="main-wrapper">

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title">              <span *ngIf="user._id == null">Nuevo usuario</span>
               <span *ngIf="user._id != null">Editar usuario</span>     </h4>
          </div>
          <div class="panel-body">
                <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                       <div class="row">
                          <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !name.valid}">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" #name="ngModel" required>
                            <span class="help-block" *ngIf="f.submitted && !name.valid">El nombre es requerido.</span>
                          </div>
                          <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !email.valid}">
                            <label for="email">Correo</label>
                            <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" #email="ngModel" required>
                            <span class="help-block" *ngIf="f.submitted && !email.valid">El correo es requerido.</span>
                          </div>
                          <div class="form-group col-md-12" *ngIf="user.id == null" [ngClass]="{'has-error': f.submitted && !password.valid}">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" #password="ngModel"
                              required>
                            <span class="help-block" *ngIf="f.submitted && !password.valid">La contraseña es requerida.</span>
                          </div>
                          <div class="form-group col-md-12">
                              <label for="password">Roles</label>
                              <ng-select [items]="roles" multiple="true"
                              bindLabel="name" bindValue="_id" [ngModelOptions]="{standalone: true}" [(ngModel)]="roles_ids">
                        </ng-select>
                        </div>
                        <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary float-right">Guardar</button>
                             </div>
                      </div>
                  
                        </form>
                    </div>
                
      </div>
   
 
  </div>
</div>
</div>