          <!-- Page Container -->
          <div class="page-container">
              <!-- Page Inner -->
              <div class="page-inner login-page">
                  <div id="main-wrapper" class="container-fluid">
                      <div class="row">
                          <div class="col-sm-6 col-md-3 login-box">
                              <h4 class="login-title">Inicia sesión en tu cuenta</h4>
                              <form role="form" [ngClass]="{'was-validated': f.submitted}" autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

                                  <div class="form-group">
                                      <label class="text-normal text-dark">Correo electrónico</label>
                                      <input type="email" class="form-control" placeholder="Correo" name="email" #email="ngModel" [(ngModel)]="login.email" required>
                                      <span class="invalid-feedback" *ngIf="f.submitted && !email.valid">El correo es requerido.</span>
                                  </div>
                                  <div class="form-group">
                                      <label class="text-normal text-dark">Contraseña</label>
                                      <input type="password" class="form-control" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="login.password" required>
                                      <span class="invalid-feedback" *ngIf="f.submitted && !password.valid">El contraseña es requerida.</span>
                                  </div>
                                  <div class="form-group">
                                  <button class="btn btn-primary" type="submit">Entrar</button>
                                  </div>
                                  <a class="forgot-link">¿Olvidaste tu contraseña?</a>
                                </form>
                          </div>
                      </div>
                  </div>
          </div>
      </div>