<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
           <span aria-hidden="true">×</span>
           </button>
           <h4 class="modal-title">Título</h4>
        </div>
        <div class="modal-body">
           <div class="row">
              <div class="col-md-6">
                 <b>descripción: </b>
                 <span>resultado</span>
              </div>
              <div class="col-md-6">
                 <b>descripcion: </b>
                 <span>resultado</span>
              </div>
           </div>       
        </div>
     </div>
  </div>
</div>