<div class="page-sidebar">
  <a class="logo-box" href="index.html">
      <span>Sicas</span>
      <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
      <i class="icon-close" id="sidebar-toggle-button-close"></i>
  </a>
  <div class="page-sidebar-inner">
      <div class="page-sidebar-menu">
          <ul class="accordion-menu">
              <li>
                  <a routerLink="/admin">
                      <i class="menu-icon icon-home4"></i><span>Dashboard</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <i class="menu-icon fa  fa-briefcase"></i><span>Administración</span><i class="accordion-icon fa fa-angle-left"></i>
                  </a>
                  <ul class="sub-menu">
                    <li>
                      <a routerLink="conditions">Condiciones</a>
                    </li>
                    <li>
                      <a routerLink="surveys">Encuestas</a>
                    </li>
                    <li>
                        <a routerLink="survey-types">Tipos de encuestas</a>
                      </li>
                      <li>
                          <a routerLink="filters">Filtros</a>
                        </li>
                    <li>
                      <a routerLink="family-cards">Fichas familiares</a>
                    </li>
                    <li>
                      <a routerLink="event">Eventos</a>
                    </li>
                    <li>
                      <a routerLink="question-manager">Gestor de preguntas</a>
                    </li>   

                </ul>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <i class="menu-icon fa fa-lock"></i><span>Seguridad</span><i class="accordion-icon fa fa-angle-left"></i>
                  </a>
                  <ul class="sub-menu">
              <li>
                  <a routerLink="users">Usuarios</a>
                </li>
                <li>
                  <a routerLink="roles">Roles</a>
                </li>
                <li>
                    <a routerLink="permissions">Permisos</a>
                  </li>
                </ul>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <i class="menu-icon fa fa-database"></i><span>Maestros</span><i class="accordion-icon fa fa-angle-left"></i>
                  </a>
                  <ul class="sub-menu">                     
                        <li>
                            <a class='sidebar-link' routerLink="subsidy-types">Tipos de subsidio</a>
                          </li>
                        <li>
                            <a class='sidebar-link' routerLink="subsidies">Subsidios</a>
                          </li>
                        
                      <li>
                          <a class='sidebar-link' routerLink="dependences">Dependencias</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="genders">Generos</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="countries">Paises</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="communes">Comunas</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="sidewalks">Veredas</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="charges">Cargos</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="sectors">Sectores</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="cities">Ciudades</a>
                        </li>
                        <li>
                          <a class='sidebar-link' routerLink="departments">Departamentos</a>
                        </li>
                        <li>
                            <a class='sidebar-link' routerLink="neighborhoods">Barrios</a>
                          </li>
                        <li>
                          <a class='sidebar-link' routerLink="professionals">Profesionales</a>
                        </li>
                  </ul>
              </li>
          
          </ul>
      </div>
  </div>
</div>