<div class="page-title">
      <h3 class="breadcrumb-header"> Dependecias </h3>
  </div>
<div id="main-wrapper">

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title">         <span *ngIf="dependence._id == null">Nuevo dependecia</span>
               <span *ngIf="dependence._id != null">Editar dependecia</span>    </h4>
          </div>
          <div class="panel-body">
              <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                 <div class="row">
                        <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !title.valid}">
                            <label for="title" class="control-label">Título</label>
                            <input type="text" class="form-control" placeholder="" name="title" #title="ngModel" [(ngModel)]="dependence.title" required />
                            <span class="help-block" *ngIf="f.submitted && !title.valid">El título es requerido.</span>  
                        </div>
                        <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !title.valid}">
                            <label for="description" class="control-label">Descripción</label>
                            <input type="text" class="form-control" placeholder="" name="description" #description="ngModel" [(ngModel)]="dependence.description" required>
                            <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerido.</span>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary float-right">Guardar</button>
                        </div>
                  </div>                
                </form>
          </div>
      </div>
  </div>
</div>
</div>