<div class="page-container">
    <app-sidebar></app-sidebar>
    <div class="page-content">
       <app-header></app-header>
       <div class="page-inner">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
       </div>
    </div>
 </div>