<div class="page-title">
  <h3 class="breadcrumb-header"> Editor de condiciones </h3>
</div>
<div id="main-wrapper">
<div class="row">
<div class="col-md-12">
  <div class="panel panel-white">
      <div class="panel-heading clearfix">
          <h4 class="panel-title"><span>Nueva condición</span></h4>         
      </div>
      <div class="panel-body">
          <form role="form"  autocomplete="off">
             <div class="row">                      
                        <div class="form-group col-md-12">
                            <label for="conditionSql">Condición SQL</label>
                            <span><input type="text" placeholder="" name="conditionSql" class="form-control"></span>                            
                        </div>
                        <br>
                       <h4>Asistente para el ingreso de la condición</h4>
                       <br>
                       <p>Diligencie los campos requeridos y verifique en el recuadro superior el resultado final.</p>
                       <div class="form-group col-md-3">
                        <label for="cabezaHogar" class="control-label">Cabeza de hogar</label>
                        <select class="form-control" name="cabezaHogar" id="cabezaHogar">
                          <option value="0">N/A</option>  
                          <option value="1">Sí</option>
                          <option value="2">No</option>
                        </select>                          
                       </div>
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Género</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>  
                          <option value="1">Masculino</option>
                          <option value="2">Femenino</option>
                        </select>                          
                       </div>
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Régimen de salud</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>
                        </select>                          
                       </div>                           
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Eps</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>
                        </select>                          
                       </div>                      
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Estudia</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>
                          <option value="1">Sí</option>
                          <option value="2">No</option>
                        </select>                          
                       </div>                        
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Estado civil</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>
                          <option value="1">Soltero</option>
                          <option value="2">Casado</option>
                        </select>                          
                       </div>                                  
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Situación laboral</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>
                          <option value="1">Empleado</option>
                          <option value="2">Desempleado</option>
                        </select>                          
                       </div>              
                       <div class="form-group col-md-3">
                        <label for="" class="control-label">Posición familiar</label>
                        <select class="form-control" name="" id="" required>
                          <option value="0">N/A</option>                                                    
                        </select>                          
                       </div>   
                       <div class="form-group col-md-12">
                        <h4>Fecha de nacimiento</h4>
                        <div>
                          <span>Mayor de <input type="text"> años y <input type="text"> meses</span><br><br>                           
                          <span>Menor de <input type="text"> años y <input type="text"> meses </span>
                        </div>                       
                       </div>                                                   
                       <div class="form-group col-md-12">
                          <button type="submit" class="btn btn-primary float-right">Guardar</button>
                       </div>
             </div>            
            </form>
      </div>
  </div>
</div>
</div>
</div>