<div class="page-title">
      <h3 class="breadcrumb-header"> Tipos de subsidio </h3>
  </div>
<div id="main-wrapper">

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title">         <span *ngIf="subsidyType._id == null">Nuevo tipo de subsidio</span>
               <span *ngIf="subsidyType._id != null">Editar nuevo tipo de subsidio</span>    </h4>
          </div>
          <div class="panel-body">
              <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                 <div class="row">
                           <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid}">
                              <label for="description" class="control-label">Descripción</label>
                              <input type="text" class="form-control" placeholder="" name="description" #description="ngModel" [(ngModel)]="subsidyType.description" required>
                              <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerido.</span>
                           </div>
                           <div class="form-group col-md-12">
                              <button type="submit" class="btn btn-primary float-right">Guardar</button>
                           </div>
                 </div>
                
                    </form>
          </div>
      </div>
   
 
  </div>
</div>
</div>