      <div class="page-title">
          <h3 class="breadcrumb-header"> Subsidios </h3>
      </div>
  <div id="main-wrapper">
  
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-white">
              <div class="panel-heading clearfix">
                  <h4 class="panel-title"><span *ngIf="subsidy._id == null">Nuevo subsidio</span>
                     <span *ngIf="subsidy._id != null">Editar subsidio</span> </h4>
              </div>
              <div class="panel-body">
                  <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                     <div class="row">
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !code.valid}">
                                    <label for="code" class="control-label">Código</label>
                                    <input type="text" placeholder="" name="code" #code="ngModel" [(ngModel)]="subsidy.code" class="form-control" required>
                                    <span class="help-block" *ngIf="f.submitted && !code.valid">El código es requerido.</span>
                                </div>
                           <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !subsidyType.valid}">
                                 <label for="subsidy" class="control-label">Tipo de subsidio</label>
                                    <select class="form-control" [(ngModel)]="subsidy.subsidy_type._id" name="subsidyType" id="subsidyType" #subsidyType="ngModel" required>
                                       <option *ngFor="let subsidyType of subsidyTypeList" value="{{subsidyType._id}}">{{subsidyType.description}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="f.submitted && !subsidyType.valid">El tipo de subsidio es requerido.</span>
                              </div>
                               <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid}">
                                  <label for="description" class="control-label">Descripción</label>
                                  <input type="text" class="form-control" placeholder="" name="description" #description="ngModel" [(ngModel)]="subsidy.description" required>
                                  <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerido.</span>
                               </div>
                               <div class="form-group col-md-12">
                                  <button type="submit" class="btn btn-primary float-right">Guardar</button>
                               </div>
                     </div>
                    
                        </form>
              </div>
          </div>
       
     
      </div>
  </div>
</div>