<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading text-center">      
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapse1">
          Eventos del día 
        <i class="fa fa-calendar"></i>
        </a>      
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item"><span class="btn btn-primary btn-rounded btn-sm">1</span> Event One</li>
        <li class="list-group-item"><span class="btn btn-primary btn-rounded btn-sm">2</span> Event Two</li>
        <li class="list-group-item"><span class="btn btn-primary btn-rounded btn-sm">3</span> Event Three</li>
      </ul>      
    </div>
  </div>
</div> 