<div class="page-title">
      <h3 class="breadcrumb-header"> Ficha familiar </h3>
  </div>
<div id="main-wrapper">

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title"><span *ngIf="familyCard._id == null">Nueva ficha familiar</span>
                 <span *ngIf="familyCard._id != null">Editar ficha familiar</span> </h4>
          </div>
          <div class="panel-body">
              <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                  <div class="row">
                        <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !country.valid}">
                                <label for="country" class="control-label">Pais</label>
                                   <select class="form-control" [(ngModel)]="familyCard.country._id" name="country" id="country" #country="ngModel" (change)="getAllDepartments()" required>
                                      <option *ngFor="let country of countryList" value="{{country._id}}">{{country.description}}</option>
                                   </select>
                                   <span class="help-block" *ngIf="f.submitted && !country.valid">El pais es requerido.</span>
                             </div>
                                    <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !country.valid}">
                                        <label for="department" class="control-label">Departamento</label>
                                            <select class="form-control" [(ngModel)]="familyCard.department._id" name="department" id="department" #department="ngModel" (change)="getAllCities()" required>
                                                <option *ngFor="let department of departmentList" value="{{department._id}}">{{department.description}}</option>
                                            </select>
                                            <span class="help-block" *ngIf="f.submitted && !department.valid">El departamento es requerido.</span>
                                        </div>
                                        <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !city.valid}">
                                            <label for="city" class="control-label">Ciudad</label>
                                                <select class="form-control" [(ngModel)]="familyCard.city._id" name="city" id="city" #city="ngModel" (change)="getAllCommunes(); getAllSidewalks()" required>
                                                    <option *ngFor="let city of cityList" value="{{city._id}}">{{city.description}}</option>
                                                </select>
                                                <span class="help-block" *ngIf="f.submitted && !city.valid">La es requerida.</span>
                                            </div>
                  </div>
                  <div class="row">
                        <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !commune.valid}">
                                <label for="commune" class="control-label">Comuna</label>
                                    <select class="form-control" [(ngModel)]="familyCard.commune._id" name="commune" id="commune" #commune="ngModel" (change)="getAllNeighborhoods()" required>
                                        <option *ngFor="let commune of communeList" value="{{commune._id}}">{{commune.description}}</option>
                                    </select>
                                   <span class="help-block" *ngIf="f.submitted && !commune.valid">La comuna es requerido.</span>
                                </div>
                                <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !neighborhood.valid}">
                                    <label for="neighborhood" class="control-label"> Barrio</label>
                                        <select class="form-control" [(ngModel)]="familyCard.neighborhood._id" name="neighborhood" id="neighborhood" #neighborhood="ngModel" required>
                                            <option *ngFor="let neighborhood of neighborhoodList" value="{{neighborhood._id}}">{{neighborhood.description}}</option>
                                        </select>
                                        <span class="help-block" *ngIf="f.submitted && !neighborhood.valid">El barrio es requerido.</span>
                                    </div>

                                    <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !sidewalk.valid}">
                                        <label for="sidewalk" class="control-label">Vereda</label>
                                            <select class="form-control" [(ngModel)]="familyCard.sidewalk._id" name="sidewalk" id="sidewalk" #sidewalk="ngModel" required>
                                                <option *ngFor="let sidewalk of sidewalkList" value="{{sidewalk._id}}">{{sidewalk.description}}</option>
                                            </select>
                                        <span class="help-block" *ngIf="f.submitted && !sidewalk.valid">La vereda es requerido.</span>
                                        </div>
                  </div>
                  <div class="row">
                        <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !address.valid}">
                                <label for="address" class="control-label">Direccion</label>
                                <input class="form-control" type="text" id="address" [(ngModel)]="familyCard.address" name="address"
                                #address="ngModel" (setAddress)="getAddress($event)" googleplace required>
                                <span class="help-block" *ngIf="f.submitted && !address.valid">La direccion es requerido.</span>
                              </div>

                              <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !sector.valid}">
                                    <label for="sector" class="control-label">Sector</label>
                                        <select class="form-control" [(ngModel)]="familyCard.sector._id" name="sector" id="sector" #sector="ngModel" required>
                                            <option *ngFor="let sector of sectorList" value="{{sector._id}}">{{sector.description}}</option>
                                        </select>
                                    <span class="help-block" *ngIf="f.submitted && !sector.valid">El sector es requerido.</span>
                                    </div>
  
                              <div class="form-group col-md-4" [ngClass]="{'has-error': f.submitted && !phone.valid}">
                                    <label for="phone" class="control-label">Telefono</label>
                                    <input type="text" class="form-control" placeholder="" name="phone" #phone="ngModel" [(ngModel)]="familyCard.phone" required>
                                    <span class="help-block" *ngIf="f.submitted && !phone.valid">El telefono es requerido.</span>
                                 </div>
                              
                  </div>
                 <div class="row">
                                      


                           <div class="form-group col-md-12">
                              <button type="submit" class="btn btn-primary float-right">Guardar</button>
                           </div>
               </div>
                    </form>
          </div>
      </div>
   
 
  </div>
</div>
</div>