<ul style="padding-left: inherit;" *ngIf="items.length">
<li *ngFor="let item of items; let indice = index" style="list-style:none;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" [attr.id]="'headingOne' + indice">
                                
          <h4 class="panel-title">
              <div class="row">
               <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+indice" aria-expanded="false" class="collapsed">
                      
              <div class="col-md-8">
                  <span class="label label-primary">{{indice+1}}</span>
                  <span style="text-transform: uppercase;padding-left: 10px">{{item.name}}</span>
              </div> 
              </a> 
              <div class="col-md-4 text-right">
                  <button (click)="openModalQuestion(item)" class="btn btn btn-primary btn-xs"><i class="fa fa-plus fa-xs"></i></button> &nbsp;  
                  <button (click)="openModal(item)" class="btn btn btn-default btn-xs"><i class="fa fa-edit fa-xs"></i></button> &nbsp;  
                  <button (click)="deleteCategory(indice)" class="btn btn btn-danger btn-xs"><i class="fa fa-close fa-xs"></i></button>                            
                </div>                             
              </div>                                                       
            </h4>                                                  
        </div>
      </div>
        <div [attr.id]="indice" class="panel-collapse collapse" role="tabpanel"  aria-expanded="false" style="height: 0px;">
          <app-ui-tree-child *ngIf="item[key].length" [key]="key" [data]="item[key]"></app-ui-tree-child>
        </div>
</li>
</ul>

<div class="modal fade in" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">
                    <span>Editar Categoría</span></h4>
          </div>
          <div class="modal-body">
            <label for="name">Categoría</label>
            <input id="idCategory" type="text" focus class="form-control" [(ngModel)]="category.name">
          </div>
          <div class="modal-footer">
             <button type="button" (click)="confirmCategory(category)" class="btn btn-primary">Guardar</button> &nbsp;
             <button type="button" (click)="closeModal()" class="btn btn-default">Cancelar</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade in" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">
                    <span>Nueva pregunta</span></h4>
          </div>
          <div class="modal-body">
            <label for="name">Pregunta</label>
            <input id="idCategory" type="text" focus class="form-control" [(ngModel)]="question.name">
          </div>
          <div class="modal-footer">
             <button type="button" (click)="confirmQuestion(question)" class="btn btn-primary">Guardar</button> &nbsp;
             <button type="button" (click)="closeModal()" class="btn btn-default">Cancelar</button>
          </div>
      </div>
  </div>
</div>