<div class="row">
    <div class="col-sm-7 col-6">
        <div class="page-title">
            <h3 class="breadcrumb-header">Gestor de preguntas</h3>
          </div>
    </div>
</div>


<div id="main-wrapper">

  <div class="row">
  <div class="col-md-7">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title">Lista
              </h4>
              <div style="margin-top: -50px; float: right;">
                <a class="btn btn-primary btn-rounded btn-action-panel" style="margin-right: 0;" data-toggle="modal" data-target="#questionModal2" ><i class="fa fa-plus"></i> Nueva categoria</a>
             </div>
          </div>
          <div class="panel-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <p class="text-center" *ngIf="data.length == 0"><i class="fa fa-warning fa-3x"></i> <br> No existen categorías </p>
              <app-ui-tree [data]="data" [key]="key"></app-ui-tree>

                                          
             </div>   
          </div>
      </div>
   
  
  </div>
  <div class="col-md-5">   
    <div class="panel border-info mb-3">
      <div class="panel-header text-center">
        <div class="panel-heading clearfix ">
          <i class="fa fa-info-circle fa-3x"></i>
        </div> 
        <h3>INFORMACIÓN</h3>
      </div> 
      <hr>
    <div>
      <p>A continuación se presenta la ayuda para la administración de preguntas</p>
    </div> 

    <div id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne1">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#a1" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                      Insertar una pregunta
                  </a>
              </h4>
          </div>
          <div id="a1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                  Para insertar una pregunta debe hacer clic en el ícono <i class="fa fa-plus fa-xs"></i> de la parte superior derecha 
              </div>
          </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingtwo2">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#a2" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                    Editar una pregunta
                </a>
            </h4>
        </div>
        <div id="a2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwo2" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                Para editar una pregunta debe hacer clic...
            </div>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree3">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#a3" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                  Borrar una pregunta
              </a>
          </h4>
      </div>
      <div id="a3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
              Para borrar una pregunta debe hacer clic...
          </div>
      </div>
  </div>

      </div>
    </div>
    </div> 
  </div>
  </div>



<div class="modal fade in" id="questionModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">
                    <span>Nueva Categoría</span>
              </h4>
          </div>
          <div class="modal-body">
            <label for="name">Categoría</label>
            <input id="idCategory" type="text" focus class="form-control" [(ngModel)]="category">
          </div>
          <div class="modal-footer">
              <button type="button" (click)="confirmAddQuestion(category)" class="btn btn-primary" data-dismiss="modal">Aceptar</button> &nbsp;
             <button type="button" (click)="closeModal()" class="btn btn-default">Cancelar</button>
          </div>
      </div>
  </div>
</div>
