<div class="row">
        <div class="col-sm-7 col-6">
            <div class="page-title">
                <h3 class="breadcrumb-header">Encuestas</h3>
              </div>
        </div>
    
        <div class="col-sm-5 col-6 text-right">
            <a class="btn btn-primary btn-rounded btn-title" routerLink="new"><i class="fa fa-plus"></i> Nueva encuesta</a>
        </div>
    </div>

<div id="main-wrapper">

<div class="row">
<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Lista</h4>
        </div>
        <div class="panel-body">
           <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table">
                  <thead>
                      <tr>
                         <th class="text-nowrap">Nombre</th>
                         <th class="text-nowrap">Clave de acceso</th>
                         <th>Descripción</th>
                         <th class="text-nowrap">Opciones</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let item of surveyList">
                         <td>{{ item.name }}</td>
                         <td class="text-nowrap">{{ item.access_key }}</td>
                         <td >{{ item.description }}</td>
                      <td>
                        <div class="btn-group" style="width: 110px;">
                            <button type="button" class="btn btn-sm btn-default">Opciones</button>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                               <li>
                                  <a routerLink="edit/{{item._id}}">Editar</a>
                               </li>
                               <li>
                                  <a>Cambiar clave de acceso</a>
                               </li>
                               <li>
                                  <a> Autogenerar clave de acceso</a>
                               </li>
                               <li>
                                  <a routerLink="/admin/question-manager/generate/{{item._id}}">Preguntas</a>
                               </li>
                               <li>
                                  <a>Bloquear</a>
                               </li>
                            </ul>
                         </div>
  
                      </td>
                    </tr>
                  </tbody>
                
                </table>
     
            </div>
        </div>
    </div>
 

</div>
</div>
</div>