<div class="row">
        <div class="col-sm-7 col-6">
            <div class="page-title">
                <h3 class="breadcrumb-header">Usuarios</h3>
              </div>
        </div>
    
        <div class="col-sm-5 col-6 text-right">
            <a class="btn btn-primary btn-rounded btn-title" routerLink="new"><i class="fa fa-plus"></i> Nuevo usuario</a>
        </div>
    </div>
    
<div id="main-wrapper">

<div class="row">
<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Lista</h4>
        </div>
        <div class="panel-body">
           <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table">
                  <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Roles</th>
                        <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of userList">
                          <td>{{ item.name }}</td>
                          <td>{{ item.email }}</td>
                          <td>
                              <span class="label label-success label-spaced" *ngFor="let role of item.roles">
                                 {{role.name}}
                              </span>
                          </td>
                      <td>
                        <a class="btn btn-default btn-xs" routerLink="edit/{{item._id}}">
                          <i class="fa fa-edit"></i> Editar</a>
                      </td>
                    </tr>
                  </tbody>
                
                </table>
     
            </div>
        </div>
    </div>
 

</div>
</div>
</div>