<div class="page-footer">
    <span><strong>Copyright &copy; {{today | date :'yyyy' }} <a href="http://www.puntomaxter.com/">Punto Maxter S.A.S</a>.</strong> Todos los derechos reservados.</span> 
</div>