      <div class="page-title">
          <h3 class="breadcrumb-header"> Barrios </h3>
      </div>
  <div id="main-wrapper">
  
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-white">
              <div class="panel-heading clearfix">
                  <h4 class="panel-title"><span *ngIf="neighborhood._id == null">Nuevo barrio</span>
                     <span *ngIf="neighborhood._id != null">Editar barrio</span> </h4>
              </div>
              <div class="panel-body">
                  <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                     <div class="row">
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !code.valid}">
                                <label for="code" class="control-label">Código</label>
                                <input type="text" placeholder="" name="code" #code="ngModel" [(ngModel)]="neighborhood.code" class="form-control" required>
                                <span class="help-block" *ngIf="f.submitted && !code.valid">El código es requerido.</span>
                            </div>
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !country.valid}">
                                <label for="neighborhood" class="control-label">País</label>
                                <select class="form-control" [(ngModel)]="neighborhood.country._id" name="country" id="country" #country="ngModel" required>
                                    <option *ngFor="let country of countryList" value="{{country._id}}">{{country.description}}</option>
                                </select>
                                    <span class="help-block" *ngIf="f.submitted && !country.valid">El país es requerido.</span>
                            </div>
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !department.valid}">
                                    <label for="neighborhood" class="control-label">Departamento</label>
                                    <select class="form-control" [(ngModel)]="neighborhood.department._id" name="department" id="department" #department="ngModel" required>
                                        <option *ngFor="let department of departmentList" value="{{department._id}}">{{department.description}}</option>
                                    </select>
                                        <span class="help-block" *ngIf="f.submitted && !country.valid">El departamento es requerido.</span>
                                </div>
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !city.valid}">
                            <label for="neighborhood" class="control-label">Ciudad</label>
                                <select class="form-control" [(ngModel)]="neighborhood.city._id" name="city" id="city" #city="ngModel" required>
                                    <option *ngFor="let city of cityList" value="{{city._id}}">{{city.description}}</option>
                                </select>
                                <span class="help-block" *ngIf="f.submitted && !city.valid">La ciudad es requerida.</span>
                            </div>
                            <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !sidewalk.valid}">                           
                            <label for="neighborhood" class="control-label">Vereda</label>
                                <select class="form-control" [(ngModel)]="neighborhood.sidewalk._id" name="sidewalk" id="sidewalk" #sidewalk="ngModel" required>
                                    <option *ngFor="let sidewalk of sidewalkList" value="{{sidewalk._id}}">{{sidewalk.description}}</option>
                                </select>
                                <span class="help-block" *ngIf="f.submitted && !sidewalk.valid">La vereda es requerida.</span>
                            </div>
                           <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !commune.valid}">
                                 <label for="neighborhood" class="control-label">Comuna</label>
                                    <select class="form-control" [(ngModel)]="neighborhood.commune._id" name="commune" id="commune" #commune="ngModel" required>
                                       <option *ngFor="let commune of communeList" value="{{commune._id}}">{{commune.description}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="f.submitted && !commune.valid">La comuna es requerido.</span>
                              </div>
                               <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid}">
                                  <label for="description" class="control-label">Descripción</label>
                                  <input type="text" class="form-control" placeholder="" name="description" #description="ngModel" [(ngModel)]="neighborhood.description" required>
                                  <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerido.</span>
                               </div>
                               <div class="form-group col-md-12">
                                  <button type="submit" class="btn btn-primary float-right">Guardar</button>
                               </div>
                     </div>
                    
                        </form>
              </div>
          </div>
       
     
      </div>
  </div>
</div>