<div *ngIf="items.length">
  <div class="dd" id="nestable" *ngFor="let item of items">
    <ol class="dd-list">
        <li class="dd-item" data-id="1">
            <div class="dd-handle">
            <div class="row">
               <div class="col-md-8">
                  {{item.name}}
               </div> 
               <div class="col-md-4 text-right">
                   <button (click)="openModalQuestion(item)" class="btn btn btn-primary btn-xs"><i class="fa fa-plus fa-xs"></i></button> &nbsp;
                  <button (click)="addFilter(indice)" class="btn btn btn-default btn-xs"><i class="fa fa-filter fa-xs"></i></button> &nbsp;                           
                   <button (click)="editCategory(item.name)" class="btn btn btn-default btn-xs"><i class="fa fa-edit fa-xs"></i></button> &nbsp;  
                  <button (click)="deleteCategory(indice)" class="btn btn btn-danger btn-xs"><i class="fa fa-close fa-xs"></i></button>                           
               </div>                             
               </div>  
              </div>
            <app-ui-tree-child *ngIf="item[key].length" [key]="key" [data]="item[key]"></app-ui-tree-child>
        </li>                                     
    </ol>
  </div>
</div>



<div class="modal fade in" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">
                    <span>Nueva pregunta</span></h4>
          </div>
          <div class="modal-body">
            <label for="name">Pregunta</label>
            <input id="idCategory" type="text" focus class="form-control" [(ngModel)]="question.name">
          </div>
          <div class="modal-footer">
             <button type="button" (click)="confirmQuestion(question)" class="btn btn-primary">Guardar</button> &nbsp;
             <button type="button" (click)="closeModal()" class="btn btn-default">Cancelar</button>
          </div>
      </div>
  </div>
</div>