<div class="page-title">
   <h3 class="breadcrumb-header"> Encuestas </h3>
</div>
<div id="main-wrapper">

<div class="row">
<div class="col-md-12">
   <div class="panel panel-white">
       <div class="panel-heading clearfix">
           <h4 class="panel-title">         <span *ngIf="survey._id == null">Nueva encuesta</span>
            <span *ngIf="survey._id != null">Editar encuesta</span>    </h4>
       </div>
       <div class="panel-body">
           <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
              <div class="row">
                     <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !name.valid}">
                             <label for="name">Nombre</label>
                             <input type="text" class="form-control" id="name" [(ngModel)]="survey.name" name="name" #name="ngModel"
                             required>
                             <span class="help-block" *ngIf="f.submitted && !name.valid">El nombre es requerido.</span>
                          </div>
                          <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !survey_type.valid}">
                             <label for="survey_type">Tipo de encuesta</label>
                             <select class="form-control" [(ngModel)]="survey.survey_type._id" name="survey_type" id="survey_type" #survey_type="ngModel" required>
                             <option *ngFor="let surveyType of surveyTypeList" value="{{surveyType._id}}">{{surveyType.description}}</option>
                             </select>
                             <span class="help-block" *ngIf="f.submitted && !survey_type.valid">El tipo es requerido.</span>
                          </div>
                          <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid}">
                             <label for="description">Descripción</label>
                             <textarea class="form-control" rows="3" placeholder="" id="description" [(ngModel)]="survey.description"
                             name="description" #description="ngModel" required></textarea>
                             <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerida.</span>
                          </div>
               
                        <div class="form-group col-md-12">
                           <button type="submit" class="btn btn-primary float-right">Guardar</button>
                        </div>
              </div>
             
                 </form>
       </div>
   </div>


</div>
</div>
</div>
