<div class="page-title">
      <h3 class="breadcrumb-header"> Sectores </h3>
  </div>
<div id="main-wrapper">

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-white">
          <div class="panel-heading clearfix">
              <h4 class="panel-title"><span *ngIf="sector._id == null">Nuevo sector</span>
                 <span *ngIf="sector._id != null">Editar sector</span> </h4>
          </div>
          <div class="panel-body">
              <form role="form"  autocomplete="off" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                 <div class="row">
                        <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !code.valid}">
                                <label for="code" class="control-label">Código</label>
                                <input type="text" placeholder="" name="code" #code="ngModel" [(ngModel)]="sector.code" class="form-control" required>
                                <span class="help-block" *ngIf="f.submitted && !code.valid">El código es requerido.</span>
                            </div>
                           <div class="form-group col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid}">
                              <label for="description" class="control-label">Descripción</label>
                              <input type="text" class="form-control" placeholder="" name="description" #description="ngModel" [(ngModel)]="sector.description" required>
                              <span class="help-block" *ngIf="f.submitted && !description.valid">La descripción es requerido.</span>
                           </div>
                           <div class="form-group col-md-12">
                              <button type="submit" class="btn btn-primary float-right">Guardar</button>
                           </div>
               </div>
                    </form>
          </div>
      </div>
   
 
  </div>
</div>
</div>